<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1">
  <listeners>
      <!--
      <listener class-name="testng.IExecutionListener.ExecutionListener1" />
      <listener class-name="testng.IAnnotationTransformer.TestAnnotationTransformerListener" />
      !-->
      <listener class-name="testng.SuiteListener.SuiteListener" />
  </listeners>
  <test name="test1">
    <classes>
        <!--
       <class name="testng.TestNGSimpleTest"/>
       <class name="testng.IAnnotationTransformer.TestAnnotationTransformerExample" />
        !-->
        <class name="testng.SuiteListener.SuiteListenerExample" />
    </classes>
  </test>
</suite>